<%= simple_form_for post do |f| %>
  <div class="post-form">
    <%= f.input :title, label: 'Title', error: 'Title is mandatory, please specify one', input_html: { class: 'post-form-input'} %>
    <%= f.input :content, label: 'Content', error: 'Content is mandatory !', input_html: { class: 'post-form-input'} %>
    <%= f.input :price, input_html: { class: 'post-form-input', min: "0"} %>
    <%= f.input :photos, as: :file, input_html: { multiple: true, accept:"image/png, image/jpeg", class:'form-control' } %>

    <div class="actions d-flex mt-4">
      <%= link_to 'Back to home', root_path, class: 'post-form-cancel text-center' %>
      <%= f.button :submit, "Create a post", class: 'post-form-submit'%>
    </div>
  </div>
<% end %>